<style>
    .cartTable tr,
    .totalTable tr,
    .cartTable td,
    .totalTable td,
    .cartTable th,
    .totalTable th {
        background-color: transparent;
    }
    .totalTable span{
        color: #2a6792;
    }


    .totalTable.disabled thead,
    .totalTable.disabled button{
        opacity: 0.5;
    }
    .totalTable.disabled button{
        pointer-events: none;
        background: gray !important;

    }
    .disabled #balance-warning{
        display: block;
    }
    #balance-warning{
        display: none;
    }
</style>

{{> header}}

<div style="margin: 3vw;">
    {{!-- header --}}
    <H3 style="color: #2a6792; ">THANH TOÁN</H3>

    {{!-- cart part --}}
    <div style="width: 100%; display:flex; margin:3vw 0vw" id="cartPart">
        {{!-- cart --}}
        <div style="width: 65%;" id="cartBox" class="border-top">
            <table class="table cartTable">
                <thead>
                    <tr>
                        <th scope="col" colspan="4" class="text-center">Đơn hàng</th>
                    </tr>
                    <tr class="text-center">
                        <th scope="col" style="width: 10%;">STT</th>
                        <th scope="col" style="width: 50%;">Sản phẩm</th>
                        <th scope="col" style="width: 20%;">Số lượng</th>
                        <th scope="col" style="width: 20%;">Số tiền</th>
                    </tr>
                </thead>
                <tbody>

                    {{!-- data start here --}}


                </tbody>
            </table>
        </div>

        {{!-- space --}}
        <div style="width: 3%;"></div>

        {{!-- total --}}
        <div style="width: 32%;" class="border-top">
            <table class="table totalTable">
                <thead>
                    <tr>
                        <th scope="col" colspan="2" class="text-center">Thông tin thanh toán</th>
                    </tr>
                    <tr>
                        <th>Tên: <span id="name">{{user.name}}</span></th>
                    </tr>
                    <tr>
                        <th>Email: <span id="email">{{user.email}}</span></th>
                    </tr>
                    <tr>
                        <th>Địa chỉ: <span id="address">{{user.address}}</span></th>
                    </tr>
                    <tr>
                        <th>Số dư: <span id="balance">{{user.balance}} đ</span></th>
                    </tr>
                    <tr>
                        <th>Tổng thanh toán: <span id="total" style="color: #ee4f2e;"></span></th>
                    </tr>
                </thead>
                <tbody>
                   <tr>
                        <td id="purchase-btn" class="d-flex justify-content-center align-items-center" style="flex-direction: column;">
                            <button class="btn" onclick="checkout()" style="background-image:linear-gradient(to right,#91d1de,#2a6792);color:white;width:70%; border-radius: 100px;font-weight:bold;margin:3vh 3vh 1vh 3vh">
                                Thanh toán
                            </button>
                            <div id="balance-warning" style="color: #ee4f2e;width:100%; text-align: center;font-size:small">Số dư không đủ, <a href="/account/addfund" style="color: #2a6792;">nạp tiền</a>?</div> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>


{{> notification_failure}}
{{> notification_success}}

{{> footer}}

<script>
    let total = 0.0;
    let products = [];

    async function getCart() {
        let cart = JSON.parse(localStorage.getItem("cart"));
        if (cart) {
            const res = await fetch(`/cart`, {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(cart)
            });

            const resData = await res.json();

            if (res.ok) {

                products = resData.cart;

                resData.cart.forEach(element => {
                    total += element.price * element.amount;
                });

                // render total
                $("#total").text(`${total} đ`);

                // disable total table if balance is not enough
                if ({{user.balance}} < total) {
                    $('.totalTable').addClass('disabled');
                }
                else {
                    $('.totalTable').removeClass('disabled');
                }

                // render cart
                $("#cartBox tbody").html(resData.cart.map((element, index) => {
                    return `
                    <tr id=${element.id}>
                        <td class="text-center"><strong>${index + 1}</strong></td>
                        <td>
                            <a style="display: flex;color:inherit;text-decoration:none" href="/${element.id}">
                                <img src="/public/image/${element.image}" style="width: 7vw; height: 7vw;">
                                <div style="display: flex; flex-direction: column; justify-content: center;">
                                    <p style="margin-left: 1vw;">
                                        ${element.name}
                                    </p>
                                    <p style="margin-left: 1vw;color:#2a6792"><strong>${element.price} đ</strong></p>
                                </div>
                            </a>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center align-items-center">
                                <p id="input-${element.id} style="width: 50%; background-color:transparent" > ${element.amount} </p>
                            </div>
                        </td>
                        <td class="text-center" id="total-${element.id}">
                            <strong>${element.price * element.amount} đ</strong>
                        </td>
                    </tr>
                    `;
                }));

            }
        }
    }
    function renderEmptyCart() {
        $('#cartPart').html(`
            <div class="d-flex justify-content-center" style="width:100%"><img src="/public/resource/empty_cart.png" style="width: 20%;"></div>
            <h5 class="text-center mt-4" >Chưa có gì trong giỏ hàng!</h5>
            <p class="text-center">Chưa có mặt hàng nào trong giỏ, chọn ít nhất một sản phẩm để tiếp tục.</p>
        `);
    }

    $(document).ready(async function () {
        let cart = JSON.parse(localStorage.getItem("cart"));
        if (cart && cart.length) {
            $('#cartPart').css('display', 'flex');
            $('#cartPart').css('margin', '3vw 0vw');
            getCart();

        }
        else {
            $('#cartPart').css('display', '');
            $('#cartPart').css('margin', '1vw 0vw');
            renderEmptyCart();
        }
    });

    function checkout() {
        let amount = total;
        let cart = JSON.parse(localStorage.getItem("cart"));
        $.ajax({
            url: '/account/checkout',
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ 
                amount, amount,
                cart: cart
            }),
            success: function(response) {
                // delete cart
                localStorage.removeItem("cart");
                let orderid = response.orderid;

                $('#successNotificationtext').text(response.message + ` Chuyển đến đơn hàng trong... ` + 3); // 3 seconds
                $('#successNotificationModal').css('display', '');

                // Wait 3 seconds, reload
                let count = 3;
                let interval = setInterval(() => {
                    count--;
                    $('#successNotificationtext').text(response.message + ` Chuyển đến đơn hàng trong... ${count}`);
                    if (count === 0) {
                        clearInterval(interval);
                    }
                }, 1000);
                setTimeout(() => {
                    window.location.href = `/account/orders/${orderid}`;
                }, 3000);
            },
            error: function(error) {
                $('#failureNotificationText').text(error);
                $('#failureNotificationModal').css('display', '');
            }
        });
    }

</script>
