{{> header}}

<style>
    h3 {
        color: #2a6792;
    }

    .cat div {
        color: white;
    }

    .sub-cat div {
        color: #2a6792;
    }

    a {
        text-decoration: none;
    }

    #container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-inline: 50px;
        background-color: rgba(203, 203, 203, 0.427);
    }

    .cat {
        display: block;
        margin: 10px;
        background-color: #2a6792;
        border-radius: 5px;
        cursor: pointer;
    }

    .outer {
        flex: 1;
    }

    .sub-cat {
        display: block;
        margin: 10px;
        padding: 10px;
        background-color: #91d1de;
        border-radius: 5px;
        cursor: pointer;
    }

    .sub-cat:hover {
        background-color: white;
    }

    .outer-sub-cat {
        display: none;
    }

    .outer:hover>.outer-sub-cat {
        display: block;
    }

    .pagination {
        display: inline-block;
    }

    .pagination a,
    p {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
    }

    .pagination p.active {
        background-color: #91d1de;
        color: white;
        border-radius: 5px;
    }

    .pagination a:hover:not(.active) {
        background-color: #ddd;
        border-radius: 5px;
    }
</style>

{{!-- banner (replace with image later) --}}
<div style="width: 100%; height:50vh; background-color:black"></div>

<center style="margin-top: 10px">

    {{!-- categories --}}
    <h3>Categories</h3>
    <div id="container">
        {{#each categories}}
        <div class="outer">
            <a class="cat" href="/{{this.id}}/-1">
                <div>{{this.name}}</div>
            </a>
            <div class="outer-sub-cat">
                {{#each ../subcategories}}
                {{#ifEquals this.catid ../id}}
                <a class="sub-cat" href="/{{this.catid}}/{{this.id}}">
                    <div>{{this.name}}</div>
                </a>
                {{/ifEquals}}
                {{/each}}
            </div>
        </div>
        {{/each}}
    </div>

    {{!-- product box --}}
    <div class="d-flex flex-wrap" style="padding:1vw 2vw 2vw 2vw">
        {{#each products}}
        <div style="width: 20%;" class="d-flex justify-content-center">
            {{> product_card}}
        </div>
        {{/each}}
    </div>

    {{!-- pagination --}}
    <div class="pagination">
        {{#if (equals page 1)}}
        <a type="button">&laquo;</a>
        {{else}}
        <a type="button" onclick="changePage({{pre_page}})">&laquo;</a>
        {{/if}}

        {{#if (equals page 1)}}
        {{else}}
        <a type="button" onclick="changePage({{pre_page}})">{{pre_page}}</a>
        {{/if}}


        <p class="active">{{page}}</p>

        {{#if (equals page total_page)}}
        {{else}}
        <a type="button" onclick="changePage({{next_page}})">{{next_page}}</a>
        {{/if}}


        {{#if (equals page (subtract total_page 1))}}
        {{else}}
        {{#if (equals page total_page)}}
        {{else}}
        <p>...</p>
        <a type="button" onclick="changePage({{total_page}})">{{total_page}}</a>
        {{/if}}
        {{/if}}

        {{#if (equals page total_page)}}
        <a type="button">&raquo;</a>
        {{else}}
        <a type="button" onclick="changePage({{next_page}})">&raquo;</a>
        {{/if}}
    </div>
</center>


{{> notification_failure}}
{{> notification_success}}

{{> footer}}

<script>
    function changePage(page) {
        window.location.href = "/?page=" + page;
    }
</script>