{{> header}}

<style>
    h3 {
        color: #2a6792;ư
    }

    .cat div {
        color: white;
    }

    .sub-cat div {
        color: #2a6792;
    }

    a {
        text-decoration: none;
    }

    #container {
        display: flex;
        justify-content: center;
        margin-top: 1vw;
        margin-inline: 50px;
        /*background-color: rgba(203, 203, 203, 0.427);*/
        
    }

    .cat {
        display: block;
        padding-block: 10px;
        margin: 10px;
        background-color: #2a6792;
        /*border-radius: 5px;*/
        cursor: pointer;
        /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);*/
        font-weight: bold;
    }

    .outer {
        flex: 1;
    }

    .sub-cat {
        display: block;
        margin: 10px;
        padding: 10px;
        background-color: #91d1de;
        /*border-radius: 5px;*/
        cursor: pointer;
        font-weight: bold;
    }

    .sub-cat:hover {
        background-color: white;
    }

    .outer-sub-cat {
        display: none;
        /*visibility: hidden;*/
    }

    .outer:hover>.outer-sub-cat {
        display: block;
        /*visibility: visible;*/
    }

</style>

{{!-- banner --}}
{{> carousel}}


<div style="margin-top: 5vh; margin-bottom:3vw">

    {{!-- categories --}}
    <center>
        <h3 style="margin-bottom:0px">Bạn muốn mua gì á?</h3>
    </center>
    <center id="container">
        {{#each categories}}
        <div class="outer">
            <a class="cat" href="/{{this.id}}/-1">
                <div>{{this.name}}</div>
            </a>
            <div class="outer-sub-cat">
                {{#each ../subcategories}}
                {{#ifEquals this.catid ../id}}
                <a class="sub-cat" href="/{{this.catid}}/{{this.id}}">
                    <div>{{this.name}}</div>
                </a>
                {{/ifEquals}}
                {{/each}}
            </div>
        </div>
        {{/each}}
    </center>

    {{!-- product box --}}
    <center style="margin-top:8vh;">
        <h3 style="margin-bottom:0px">Một số sản phẩm nổi bật nè~</h3>
    </center>

    <div class="d-flex flex-wrap" style="padding:1vw 2vw 2vw 2vw">
        {{#each products}}
        <div style="width: 20%;" class="d-flex justify-content-center">
            {{> product_card}}
        </div>
        {{/each}}
    </div>

    {{!-- pagination --}}
    <div style="color: #2a6792;">{{>pagination}}</div>
</div>


{{> notification_failure}}
{{> notification_success}}

{{> footer}}

