{{>header}}

<style>
    #wrapper{
        margin-top: 30px;
        margin-bottom: 30px;
        margin-inline: 30px;
        display: flex;
        justify-content: center;
    }
    #container{
        display: flex;
        flex-direction: column;
    }
    .block{
        margin-bottom: 0px;
        background-color: white;
    }
    
    .detail_container{
        display: grid;
        grid-template-columns: 40% 60%;
        padding-bottom: 20px;
    }
    .col-left img{
        max-width: 100%;
        max-height: 100%;
    }
    .col-right{
        padding: 0px 20px 20px 50px;
        display: flex;
        flex-direction: column;
    }
    .col-right p{
        /*font-size: x-large;*/
        /*color: #2a6792;*/
    }
    .col-right li{
        /*font-size: large;*/
    }
    #het_hang{
        background-color: red;
        padding: 10px;
        /*border-radius: 10px;*/
        font-size: 20px;
        text-align: center;
        margin-top: 20px;
        cursor:default;
        color:white;
        font-weight: bold;
        width: 60%;
    }


    .full_description_container, .suggestion_container{
        padding: 20px;
        background-color: white;
    }
</style>

<div id="wrapper">
    <div id="container" style="border-radius: 30px;">
        {{!-- detail containter --}}
        <div class="detail_container block" style="border-radius: 30px 30px 0 0;">
            <div class="col-left">
                <img src="/public/image/{{product.image}}" style="border-radius: 30px 0px 0px 0;">
            </div>
            <div class="col-right">
                <h5 class="text-center" style="margin: 35px 0px;color:#2a6792;text-transform:uppercase">{{product.name}}</h5>
                
                <li class="mb-0" >Giá: <STRONG style="color: #ee4f2e;">{{product.price}} VNĐ</STRONG> </li>
                <li class="mb-0">Số lượng tồn: {{product.quantity}}</li>
                <li class="">Mô tả ngắn: {{product.shortdescription}}</li>

                {{#if (equals product.quantity 0)}}
                <div style="width: 100%;" class="d-flex justify-content-center mt-4">
                    <div id="het_hang">TẠM HẾT HÀNG</div>
                </div>
                {{else}}
                <div class="mb-2" style="margin-top: 35px;">
                    <label for="quantity" class="mx-2">Số lượng: </label>
                    <input type="number" oninput="HandleAmount({{product.quantity}})" id="quantity" name="quantity" min="1" max="{{product.quantity}}" value="1" class="border border-secondary-subtle rounded-pill text-center"
                                    style="background-color: transparent;">
                </div>
                <button class="btn" onclick="addCart({{product.id}},{{product.quantity}})" style="background-image:linear-gradient(to right,#91d1de,#2a6792);color:white;width:50%;max-width: 185px;border-radius: 100px"><strong>Thêm vào giỏ hàng</strong></button>
                {{/if}}
            </div>
        </div>

        {{!-- full description container --}}
        <div class="full_description_container block">
            <h4 style="color: #2a6792;">Mô tả chi tiết</h4>
            <span class="text-dark-emphasis">{{product.fulldescription}}</span>
        </div>


        {{!-- suggestion container --}}
        <div class="suggestion_container block" style="border-radius: 0 0 30px 30px;">
            <h4 style="color: #2a6792;">Sản phẩm liên quan</h4>

            {{!-- product box --}}
            <div class="d-flex flex-wrap justify-content-center" style="padding:1vw 2vw 2vw 2vw">
                {{#each suggestProducts}}
                <div style="width: 25%;" class="d-flex justify-content-center mb-3">
                    {{> product_card}}
                </div>
                {{/each}}

                
            </div>
            {{!-- pagination --}}
            <div style="color: #2a6792;">{{>pagination}}</div>
        </div>
    </div>
</div>


{{>notification_failure}}
{{>notification_success}}

{{>footer}}

<script>
    function HandleAmount(quantity){
        let inputVal = parseInt($('#quantity').val());
        if(inputVal > quantity){
            $('#quantity').val(quantity);
        }
        if(inputVal < 1 || isNaN(inputVal)){
            $('#quantity').val(1);
        }

    }

    function addCart(event, quantity) {

        // Get order 
        let Itemid = {{product.id}};
        let Quantity = parseInt($('#quantity').val());

        const cart = JSON.parse(localStorage.getItem('cart') || '[]');

        // Check if product is already in cart, if yes, increase quantity
        let isExist = false;
        for (let i = 0; i < cart.length; i++) {
            if (cart[i].id == Itemid) {
                if (cart[i].quantity + Quantity <= quantity){
                    cart[i].quantity = parseInt(cart[i].quantity) + Quantity;
                    isExist = true;
                    break;
                }
                else{
                    $('#failureNotificationText').text(`Không đủ số lượng sản phẩm trong kho! (số lượng tồn: ${quantity}; số lượng trong giỏ hàng: ${cart[i].quantity})`)
                    $('#failureNotificationModal').css('display', '');
                    return;
                }
            }
        }

        // If not, add new product to cart
        if (!isExist) {
            cart.push({ id: Itemid, quantity: Quantity });
        }

        // Update cart in localStorage
        localStorage.setItem('cart', JSON.stringify(cart));

        // Display success message
        $('#successNotificationtext').text('Thêm sản phẩm vào giỏ hàng thành công!')
        $('#successNotificationModal').css('display', '');

        // Display cart count
        $('#cart-count').text(cart.length);
        $('#cart-count').show();
    }
</script>