<style>
    .pagination {
        display: flex;
        justify-content: center;
    }

    .pagination a, .pagination p {
        color: #2a6792;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
    }

    .pagination p.active {
        background-color: #91d1de;
        color: white;
        border-radius: 5px;
    }

    .pagination a:hover:not(.active) {
        background-color: #ddd;
        border-radius: 5px;
    }
</style>
<div class="pagination">
    {{#if (equals page 1)}}
    <a type="button"><i class="fa-solid fa-caret-left"></i></a>
    {{else}}
    <a type="button" onclick="changePage({{pre_page}})"><i class="fa-solid fa-caret-left"></i></a>
    {{/if}}

    {{#if (equals page 1)}}
    {{else}}
    <a type="button" onclick="changePage({{pre_page}})">{{pre_page}}</a>
    {{/if}}


    <p class="active">{{page}}</p>

    {{#if (equals page total_page)}}
    {{else}}
    <a type="button" onclick="changePage({{next_page}})">{{next_page}}</a>
    {{/if}}


    {{#if (equals page (subtract total_page 1))}}
    {{else}}
    {{#if (equals page total_page)}}
    {{else}}
    <p>...</p>
    <a type="button" onclick="changePage({{total_page}})">{{total_page}}</a>
    {{/if}}
    {{/if}}

    {{#if (equals page total_page)}}
    <a type="button"><i class="fa-solid fa-caret-right"></i></a>
    {{else}}
    <a type="button" onclick="changePage({{next_page}})"><i class="fa-solid fa-caret-right"></i></a>
    {{/if}}
</div>

<script>
    function changePage(page) {
        const url = new URL(window.location.href);
        const searchParams = new URLSearchParams(url.search); 
        searchParams.delete('page');
        searchParams.set('page', page);
        url.search = searchParams.toString();

        window.location.href = url;
    }
</script>