{{> header}}
<div class="mx-auto rounded" style="max-width: 60rem ">
    <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">{{header}}</h4>
        </div>
        <div class="p-3 bg-white">
            <form action="{{posturl}}" enctype="multipart/form-data" method="post" name="myform" id="myform"
                class="mt-3">
                <input type="hidden" name="id" value="{{idVal}}">
                {{#if nameCol}}
                <div class="col-md-12"><label class="p-2 labels fw-bold">{{nameCol}}</label>
                    <input value="{{nameVal}}" name="name" id="name" type="text" class="form-control" placeholder="{{nameCol}}"
                        required>
                </div>
                {{/if}}
                {{#if usernameCol}}
                <div class="col-md-12"><label class="p-2 labels fw-bold">{{usernameCol}}</label>
                    <input value="{{usernameVal}}" name="username" id="username" type="text" class="form-control" placeholder="{{usernameCol}}"
                        required>
                </div>
                {{/if}}
                {{#if passwordCol}}
                <div class="col-md-12"><label class="p-2 labels fw-bold">{{passwordCol}}</label>
                    <input value="{{passwordVal}}" name="password" id="password" type="password" class="form-control" placeholder="{{passwordCol}}"
                        required>
                </div>
                {{/if}}
                {{#if addressCol}}
                <div class="col-md-12"><label class="p-2 labels fw-bold">{{addressCol}}</label>
                    <input value="{{addressVal}}" name="address" id="address" type="text" class="form-control" placeholder="{{addressCol}}"
                        >
                </div>
                {{/if}}
                {{#if emailCol}}
                <div class="col-md-12"><label class="p-2 labels fw-bold">{{emailCol}}</label>
                    <input value="{{emailVal}}" name="email" id="email" type="text" class="form-control" placeholder="{{emailCol}}"
                        >
                </div>
                {{/if}}
                {{#if priceCol}}
                <div class="col-md-12"><label class="p-2 labels fw-bold">{{priceCol}}</label>
                    <input value="{{priceVal}}" name="price" id="price" type="number" class="form-control" placeholder="{{priceCol}}"
                        required>
                </div>
                {{/if}}
                {{#if quantityCol}}
                <div class="col-md-12"><label class="p-2 labels fw-bold">{{quantityCol}}</label>
                    <input value="{{quantityVal}}" name="quantity" id="quantity" type="number" class="form-control" placeholder="{{quantityCol}}"
                        required>
                </div>
                {{/if}}                
                {{#if categories}}
                <div class="col-md-12"><label class="p-2 labels fw-bold">{{catnameCol}}</label>
                    <select required id="category" name="category" class="form-control form-field" placeholder="">
                        {{#each categories}}
                            <option value="{{this.id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
                {{#if subCatList}}
                <div id="subcategory-container" class="col-md-12"><label class="p-2 labels fw-bold">Loại sản phẩm con</label>
                    <select name="subcategory" id="subcategory" class="form-control form-field" placeholder="">
                        
                    </select>
                </div>
                {{/if}}
                {{/if}}
                {{#if imageCol}}
                <div class="col-md-12"><label class="p-2 labels fw-bold">{{imageCol}}</label>
                    <input name="image" id="image" type="file" class="form-control"
                        required>
                </div>
                {{/if}}
                {{#if updateimageCol}}
                <div class="col-md-12"><label class="p-2 labels fw-bold">{{updateimageCol}}</label>
                    <div class="d-flex">
                        <img src="../../../public/image/{{imageVal}}" style="width: 300px;" alt="">
                        <input name="image" id="image" type="file" class="form-control"
                            value="">
                    </div>
                </div>
                {{/if}}
                {{#if shortdesCol}}
                <div class="col-md-12"><label class="p-2 labels fw-bold">{{shortdesCol}}</label>
                    <textarea  name="shortdes" class="form-control" maxlength="490" style="height:100px;">{{shortdesVal}}</textarea>
                </div>
                {{/if}}

                {{#if longdesCol}}
                <div class="col-md-12"><label class="p-2 labels fw-bold">{{longdesCol}}</label>
                    <textarea name="longdes" class="form-control" maxlength="2990" style="height:200px;">{{longdesVal}}</textarea>
                </div>
                {{/if}}                
                
                <div style="width: 200px;" class="mx-auto d-flex justify-content-between mt-5 text-center">
                    <a onclick="history.back();" id="cancel-button" class="btn btn-danger" type="submit">Hủy bỏ</a>
                    <button id="create-button" class="btn btn-primary" type="submit">Xác nhận</button>
                </div>
            </form>
        </div>
    </div> 
</div>
{{#if subCatList}}
{{#each subCatList as |sub|}}
    <select style="display: none;" id="sub-{{sub.cat.id}}" class="form-control form-field" placeholder="">
        {{#each sub.list as |s|}}
            <option value="{{s.id}}">{{s.name}}</option>
        {{/each}}
    </select>
{{/each}}
{{/if}}

{{#if subcatCol}}
    <div class="col-md-12"><label class="p-2 labels fw-bold">{{subcatCol}}</label>
        {{> listtable}}
    </div>                    
{{/if}}

{{> notification_failure}}
{{> notification_success}}
{{#if notiAppearance}}
<script>
    async function postFormDataAsJson({ url, formData }) {
        const plainFormData = Object.fromEntries(formData.entries());
        const formDataJsonString = JSON.stringify(plainFormData);

        const fetchOptions = {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                Accept: "application/json",
            },
            body: formDataJsonString,
        };

        const response = await fetch(url, fetchOptions);

        if (!response.ok) {
            const errorMessage = await response.json();
            console.log(errorMessage);
            throw new Error(errorMessage.message);
        }

        return response.json();
    }

    async function handleFormSubmit(event) {        
        event.preventDefault();
        const form = event.currentTarget;
        const url = form.action;

        try {
            const formData = new FormData(form);
            const responseData = await postFormDataAsJson({ url, formData });            
            return responseData;
        }
        catch (error) {            
            throw(error);
        }
    }    

    $("#myform").on("submit", async (e) => {
        try {
            const responseData = await handleFormSubmit(e);               
            $('#successNotificationtext').html(responseData.message)
            $('#successNotificationModal').css('display', '');
            $('#closeSuccessModal').click(function() {
                window.location.href = responseData.redirecturl;
            })
        }
        catch (error) {
            $('#failureNotificationText').html(error)
            $('#failureNotificationModal').css('display', '');
        }        
    });
</script>
{{/if}}
<script>
    $(() => {
        $('#category').prop({ selectedIndex: {{catidVal}} });
        let cat = $('#category').val();
        
        $('#subcategory').html('');
        $('#subcategory-container').css({display: ''});
        $('#subcategory').html($(`#sub-${cat}`).html());
        $('#subcategory').prop({ selectedIndex: {{subcatidVal}} });

        $('#image').fileinput({'showUpload': false, "previewFileType": 'any', theme: 'fa6'});
    })
    $('#category').change(function() {
        let cat = $('#category').val();
        $('#subcategory').html('');
        $('#subcategory-container').css({display: ''});        
        $('#subcategory').html($(`#sub-${cat}`).html())
    });        
</script>