{{> header}}
<div class="content">
    <div class="page-heading d-flex justify-content-between align-items-center">
        <h1 class="page-heading-title">Sản phẩm</h1>
        <a href="/admin/product/new" class="btn btn-primary"><span>Thêm sản phẩm</span></a>
    </div>
    
    <div class="card-shadow">
        <table class="table-listing table">
            <thead>            
                <th scope="col">
                    <input id="check-all" class="form-check-input mt-0" type="checkbox" value="0" aria-label="Checkbox for select all">
                </th>
                <th scope="col"><span>Mã số</span></th>
                <th scope="col"><span>Hình ảnh</span></th>
                <th scope="col">
                    <div class="table-header" style="margin-bottom: 1rem;">
                            Tên sản phẩm
                    </div>
                    <div class="header-filter input-group" style="width: 15rem;">
                        <input value="{{productname}}" name="productName" id="productName" class="product-name form-control" placeholder="Tên sản phẩm" type="text" aria-label="Product name">
                    </div>
                </th>
                <th scope="col">
                    <div class="table-header" style="margin-bottom: 1rem;">
                            Giá
                    </div>
                    <div class="input-group d-flex" style="width: 15rem;">                    
                        <input value = "{{minprice}}" name="minprice" id="minprice" placeholder="Min" type="text" class="form-control">
                        <input value = "{{maxprice}}" name="maxprice" id="maxprice" placeholder="Max" type="text" class="form-control">
                    </div>
                </th>
                <th scope="col">
                    <div class="table-header" style="margin-bottom: 1rem;">
                            Số lượng
                    </div>
                    <div class="input-group" style="width: 15rem;">                    
                        <input value="{{minquantity}}" name="minquantity" id="minquantity" placeholder="Min" type="text" class="form-control">
                        <input value="{{maxquantity}}" name="maxquantity" id="maxquantity" placeholder="Max" type="text" class="form-control">
                    </div>
                </th>            
            </thead>
            <tbody>
                {{#each data}}
                    <tr>
                        <td><input id="{{this.id}}" class="check form-check-input mt-0" type="checkbox" value="0"></td>
                        <td style="vertical-align:middle;">{{this.id}}</td>
                        <td style="width: 100px;">
                            <img src="../public/image/{{this.image}}" class="img-thumbnail" alt="...">
                        </td>
                        <td style="vertical-align:middle;">
                            <a href="" style="color: black; text-decoration: none;">{{this.name}}</a>
                        </td>
                        <td style="vertical-align:middle;">{{this.price}}</td>
                        <td style="vertical-align:middle;">{{this.quantity}}</td>
                    </tr>
                {{/each}}                
            </tbody>
        </table>
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center" style="gap: 5px">
                <div><span>Hiển thị</span></div>
                <input name="limit" id="limit" class="form-control" style="width: 80px;" type="number" value="{{perpage}}"/>
                <div>mỗi trang</div>
            </div>
            <div class="d-flex align-items-center" style="gap: 10px; font-size: 15px;">                
                <div class="prev">
                    <button id="previous-button">&lt;</button>
                </div>
                <div class="current">
                    <select id="page" class="form-control form-field" placeholder="{{this.page}}" style="width: 50px;">                        
                        <option id="page-selected" selected="" value="" disabled="">{{this.page}}</option>
                        {{#each totalpage}}
                            <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="next">
                    <button id="next-button">&gt;</button>
                </div>
            </div>
        </div>
    </div>
</div>

{{> notification_failure}}

<script>
    $(() => {
        let curpage = {{page}};
        if (curpage==1) $('#previous-button').css({display: "none"});
        if (curpage=={{totalpage.length}}) $('#next-button').css({display: "none"});
    });

    function HandleFilter() {
        let productname = $("#productName").val();
        let minprice = $("#minprice").val();
        let maxprice = $("#maxprice").val();
        let minquantity = $("#minquantity").val();
        let maxquantity = $("#maxquantity").val();
        let page = $("#page").val();
        let limit = $("#limit").val();
        //get current url
        let url = new URL(window.location.href);

        //get the search parameters from the url
        let params = new URLSearchParams(url.search);

        //remove the filter parameters
        params.delete('productname');
        params.delete('minprice');
        params.delete('maxprice');
        params.delete('minquantity');
        params.delete('maxquantity');
        params.delete('page');
        params.delete('limit'); //?

        //add the filter parameters
        if (productname)
            params.set('productname', productname);
        if (minprice)
            params.set('minprice', minprice);
        if (maxprice)
            params.set('maxprice', maxprice);
        if (minquantity)
            params.set('minquantity', minquantity);
        if (maxquantity)
            params.set('maxquantity', maxquantity);
        if (page)
            params.set('page', page);
        if (limit)
            params.set('limit', limit);

        //set the search parameters back to the url
        url.search = params.toString();

        //navigate to the new url
        window.location.href = url.toString();
    }
    
    document.onkeydown=function(){
        if(window.event.keyCode=='13'){           
            HandleFilter();
        }
    }

    $('#page').change(function() {
        HandleFilter();
    });
    
    $('#next-button').click(function() {  
        let curpage = {{page}};
        $('#page').val(parseInt(curpage)+1);        
        $('#page-selected').val(parseInt(curpage)+1);
        HandleFilter();
    });

    $('#previous-button').click(function() {
        let curpage = {{page}};
        $('#page').val(curpage-1);  
        $('#page-selected').val(parseInt(curpage)-1);      
        HandleFilter();
    });

    $('#check-all').change(function() {        
        $('.check').prop('checked', $('#check-all').prop('checked'))
    });
</script>