<div class="mx-auto d-flex flex-column card-shadow">
        <table class="mx-auto table-listing table">
            <thead>
                <th scope="col">
                    <input id="check-all" class="fs-4 form-check-input" type="checkbox" value="0" aria-label="Checkbox for select all">
                </th>
                <th scope="col">MÃ SỐ</th>
                {{#if imageCol}}
                <th scope="col">{{this.imageCol}}</th>
                {{/if}}
                <th scope="col">
                    <div class="table-header" style="margin-bottom: 1rem;">
                            TÊN
                    </div>
                    <div class="header-filter input-group" style="width: 15rem;">
                        <input value="{{this.name}}" name="name" id="filter-name" class="form-control" placeholder="TÊN" type="text">
                    </div>
                </th>
                {{#if catnameCol}}
                <th scope="col">
                    <div class="table-header" style="margin-bottom: 1rem;">
                            {{this.catnameCol}}
                    </div>
                    <div class="header-filter input-group" style="width: 15rem;">
                        <input value="{{this.catname}}" name="catname" id="catname" class="form-control" placeholder="{{this.catnameCol}}
" type="text">
                    </div>
                </th>
                {{/if}}
                {{#if usernameCol}}
                <th scope="col">
                    <div class="table-header" style="margin-bottom: 1rem;">
                            {{this.usernameCol}}
                    </div>
                    <div class="header-filter input-group" style="width: 15rem;">
                        <input value="{{this.username}}" name="username" id="username" class="form-control" placeholder="{{this.usernameCol}}
" type="text">
                    </div>
                </th>
                {{/if}}
                {{#if emailCol}}
                <th scope="col">
                    <div class="table-header" style="margin-bottom: 1rem;">
                            {{this.emailCol}}
                    </div>
                    <div class="header-filter input-group" style="width: 15rem;">
                        <input value="{{this.email}}" name="email" id="email" class="form-control" placeholder="{{emailCol}}" type="text">
                    </div>
                </th>
                {{/if}}
                {{#if addressCol}}
                <th scope="col">
                    <div class="table-header" style="margin-bottom: 1rem;">
                            {{this.addressCol}}
                    </div>
                    <div class="header-filter input-group" style="width: 15rem;">
                        <input value="{{this.address}}" name="address" id="address" class="form-control" placeholder="{{addressCol}}" type="text">
                    </div>
                </th>
                {{/if}}
                {{#if roleCol}}
                <th scope="col">
                    <div class="table-header" style="margin-bottom: 1rem;">
                            {{this.roleCol}}
                    </div>
                    <div class="header-filter input-group" style="width: 10rem;">
                        <input value="{{this.role}}" name="role" id="role" class="form-control" placeholder="{{roleCol}}" type="text">
                    </div>
                </th>
                {{/if}}
                {{#if priceCol}}
                <th scope="col">
                    <div class="table-header" style="margin-bottom: 1rem;">
                        {{this.priceCol}}
                    </div>
                    <div class="input-group d-flex" style="width: 15rem;">                    
                        <input value = "{{this.minprice}}" name="minprice" id="minprice" placeholder="Min" type="text" class="form-control">
                        <input value = "{{this.maxprice}}" name="maxprice" id="maxprice" placeholder="Max" type="text" class="form-control">
                    </div>
                </th>
                {{/if}}
                {{#if quantityCol}}
                <th scope="col">
                    <div class="table-header" style="margin-bottom: 1rem;">
                        {{this.quantityCol}}
                    </div>
                    <div class="input-group" style="width: 15rem;">                    
                        <input value="{{this.minquantity}}" name="minquantity" id="minquantity" placeholder="Min" type="text" class="form-control">
                        <input value="{{this.maxquantity}}" name="maxquantity" id="maxquantity" placeholder="Max" type="text" class="form-control">
                    </div>
                </th>
                {{/if}}         
            </thead>
            <tbody>
                <tr id="hidden-row"></tr>
                {{#each this.data as |d|}}
                    <tr>
                        <td style="vertical-align:middle;"><input id="{{d.id}}" class="fs-4 check form-check-input" type="checkbox" value="0"></td>
                        <td style="vertical-align:middle;">{{d.id}}</td>                        
                        {{#if d.image}}
                        <td style="width: 100px;">
                            <img src="../public/image/{{d.image}}" class="img-thumbnail" alt="...">
                        </td>
                        {{/if}}
                        <td style="vertical-align:middle;">
                            <a href="{{d.detailurl}}{{d.id}}" style="color: black; text-decoration: none;">{{d.name}}</a>
                        </td>
                        {{#if d.catname}}
                        <td style="vertical-align:middle;">
                            {{d.catname}}
                        </td>
                        {{/if}}
                        {{#if d.username}}
                        <td style="vertical-align:middle;">
                            {{d.username}}
                        </td>
                        {{/if}}
                        {{#if d.email}}
                        <td style="vertical-align:middle;">
                            {{d.email}}
                        </td>
                        {{/if}} 
                        {{#if d.address}}
                        <td style="vertical-align:middle;">
                            {{d.address}}
                        </td>
                        {{/if}}  
                        {{#if d.role}}
                        <td style="vertical-align:middle;">
                            {{d.role}}
                        </td>
                        {{/if}} 
                                             
                        {{#if d.price}}
                        <td style="vertical-align:middle;">{{d.price}}</td>
                        {{/if}}
                        {{#if d.quantity}}
                        <td style="vertical-align:middle;">{{d.quantity}}</td>
                        {{/if}}
                    </tr>
                {{/each}}            
            </tbody>
        </table>
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center" style="gap: 5px">
                <div><span>Hiển thị</span></div>
                <input name="limit" id="limit" class="form-control" style="width: 80px;" type="number" value="{{this.perpage}}"/>
                <div>mỗi trang</div>
            </div>
            <div class="d-flex align-items-center" style="gap: 10px; font-size: 15px;">                
                <div class="prev">
                    <button id="previous-button">&lt;</button>
                </div>
                <div class="current">
                    <select id="page" class="form-control form-field" placeholder="{{this.page}}" style="width: 50px;">                        
                        <option id="page-selected" selected="" value="" disabled="">{{this.page}}</option>
                        {{#each totalpage as |tt|}}
                            <option value="{{tt}}">{{tt}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="next">
                    <button id="next-button">&gt;</button>
                </div>
            </div>
        </div>
    </div>

{{> notification_warning}}
<script>
    $(() => {          
        let curpage = {{page}};
        if (curpage==1) $('#previous-button').css({display: "none"});
        if (curpage=={{totalpage.length}}) $('#next-button').css({display: "none"});
    });

    function HandleFilter() {
        let name = $("#filter-name").val();
        let catname = $('#catname').val();
        let username = $('#username').val();
        let password = $('#password').val();
        let email = $('#email').val();
        let address = $('#address').val();
        let role = $('#role').val();
        let minprice = $("#minprice").val();
        let maxprice = $("#maxprice").val();
        let minquantity = $("#minquantity").val();
        let maxquantity = $("#maxquantity").val();
        let page = $("#page").val();
        let limit = $("#limit").val();
        //get current url
        let url = new URL(window.location.href);    

        //get the search parameters from the url
        let params = new URLSearchParams(url.search);

        //remove the filter parameters
        params.delete('name');
        params.delete('catname');
        params.delete('username');
        params.delete('password');
        params.delete('email');
        params.delete('address');
        params.delete('role');
        params.delete('minprice');
        params.delete('maxprice');
        params.delete('minquantity');
        params.delete('maxquantity');
        params.delete('page');
        params.delete('limit'); //?

        //add the filter parameters
        if (name)
            params.set('name', name);
        if (catname)
            params.set('catname', catname);
        if (username)
            params.set('username', username);
        if (password)
            params.set('password', password);
        if (email)
            params.set('email', email);
        if (address)
            params.set('address', address);
        if (role)
            params.set('role', role);
        if (minprice)
            params.set('minprice', minprice);
        if (maxprice)
            params.set('maxprice', maxprice);
        if (minquantity)
            params.set('minquantity', minquantity);
        if (maxquantity)
            params.set('maxquantity', maxquantity);
        if (page)
            params.set('page', page);
        if (limit)
            params.set('limit', limit);

        //set the search parameters back to the url
        url.search = params.toString();

        //navigate to the new url
        window.location.href = url.toString();
    }
        
    function HandleHiddenRow() {
        let count = $('.check').filter((index, d) => {            
            if (d.checked==true) return d;
        }).length;

        if (count==0) $('#hidden-row').html('')
        else {
            $('#hidden-row').html(`
                <td colspan="100" style="border-top: 0px;">
                    <button class="btn" disabled>${count} được chọn</button>
                    <button id="delete-button" class="btn btn-danger"><span>Xóa</span></button>
                </td>
            `)
            $('#delete-button').click(function(e) {
                e.preventDefault();
                $('#WarningNotificationText').text('Hành động xóa sẽ không thể hoàn tác ')
                $('#WarningNotificationModal').css('display', '');
            })
        }        
    }

    document.onkeydown=function(){
        if(window.event.keyCode=='13'){ 
            HandleFilter();
        }
    }

    // Paging
    $('#page').change(function() {
        HandleFilter();
    });
    
    $('#next-button').click(function() {  
        let curpage = {{page}};
        $('#page').val(parseInt(curpage)+1);        
        $('#page-selected').val(parseInt(curpage)+1);
        HandleFilter();
    });

    $('#previous-button').click(function() {
        let curpage = {{page}};
        $('#page').val(curpage-1);  
        $('#page-selected').val(parseInt(curpage)-1);      
        HandleFilter();
    });
    // --------------------------------- //

    // Check for what item will be deleted
    $('#check-all').change(function() {        
        $('.check').prop('checked', $('#check-all').prop('checked'))
        HandleHiddenRow();
    });

    $('.check').change(function() {
        HandleHiddenRow();
    });
    // -------------------------------- //

    // Delete    

    $('#closeYesWarningModal').click(async function() {
        $('#WarningNotificationModal').css('display', 'none');
        let listID = [];
        $('.check').filter((index, d) => {
            if (d.checked==true) return listID.push(d.id);
        })
        let dataBody = JSON.stringify({"listID": listID});
        
        let rs = await fetch('{{deleteurl}}', {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "Accept": "application/json"
            },
            body: dataBody
        })    
        let url = await rs.json();        
        window.location.href = url.url;

    });
    // -------------------------------- //

</script>